<html>
    <head>
    <title>留言板</title>
    </head>
    <body>
        {% for mess in msg %}
            <hr>
            <form method="post" action="/login/ymg/rep">
            <input type="hidden" name="id" value={{mess.id}}>
            <input type="submit" name="reply" value="已讀">
            </form>            
            時間:{{mess.mdate}}<br>
            標題:{{mess.title}}<br>
            內容:{{mess.message}}<br>
            狀態:{{mess.reply}}<br>
            <form method="post" action="/login/ymg/del">
            <input type="hidden" name="id" value={{mess.id}}>
            <input type="submit" name="delete" value="刪除">
            </form> 
        {% endfor %}
    </body>
</html>
