<html>
    <head>
    <title>留言板</title>
    </head>
    <body>
        <form method="post" action="/">
        <a href="/login">登入</a><br><br>
        標題：<input type="text" name="title" required><br>
        內容：<textarea rows=10 name="message" required></textarea><br>
        <input type="submit" name="submit" value="送出">
        <input type="reset" name="reset" value="清除">
        </form>  
        {% for mess in msg %}
            <hr>          
            時間:{{mess.mdate}}<br>
            標題:{{mess.title}}<br>
            內容:{{mess.message}}<br>
            狀態:{{mess.reply}}<br>
        {% endfor %}
    </body>
</html>
